body{
    background: #c9e4ca;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.container#main{
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.container#calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #172026;
    background: #364958 ;
    border-radius: 16px;
    padding: 20px;
}

.container#display{
    background: #FFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;    
    height: 100%;
    width: 100%;
    border-radius: 4px;    
}

.display{
    text-align: right;
    padding: 4px;
    box-sizing: border-box;
    border: 4px solid #f8f8f2;
    border-radius: 4px;
}

.display#output{
    display: none;
}